* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  overflow: hidden;
  touch-action: none;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#platform {
  background-color: #ffffff;
  width: 200px;
  height: 12px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
}

#menu {
  width: 90%;
  max-width: 800px;
  height: 500px;
  background-color: rgb(83, 83, 83);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#menu h1 {
  color: #ff0062;
  text-shadow: 0 0 10px #ff0062;
}

.controls {
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

.difficulties {
  list-style: none;
  text-align: center;
  line-height: 3rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.difficulty:nth-child(1) {
  color: #28a745;
}
.difficulty:nth-child(2) {
  color: #ffc107;
}
.difficulty:nth-child(3) {
  color: #fd7e14;
}
.difficulty:nth-child(4) {
  color: #dc3545;
}
.difficulty:nth-child(5) {
  color: #ab52ff;
}

.falling-heart {
  position: absolute;
  pointer-events: none;
}
